</style>
<style type="text/css">

.sm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
.drkblu {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000066;
}
.lightbl {
	font-family: Arial, Helvetica, sans-serif;
	color: #5E6C7B;
	font-weight: bold;
	font-size: x-small;
}
med {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
.unnamed1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
