#main-area a:link{
	color: #0181C8;
	text-decoration: none;
}
#main-area a:visited{
	color: #0181C8;
	text-decoration: none;
}
#main-area a:hover{
	color: #0181C8;
	text-decoration: underline;
}
#main-area a:active{
	color: #56C8EA;
	text-decoration: underline;
}
#main-area-left{
	width: 50%;
	color: #333333;
	float: left;
}
#main-area-left h3{
	margin-bottom: 0px;
	color: #0181C8;
}
#main-area-left span{
	margin-bottom: 0px;
	color: #666666;
}
#main-area-right{
	width: 48%;
	color: #333333;
	float: right;
}
#main-area-right table{
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #CCE6F4;
}
#main-area-right td{
	color: #333333;
	font-size: 80%;
	vertical-align: top;
}
.caption{
	font-size: 80%;
	margin-top: 20px;
	text-align: center;
	color: #666666;
}